[data]
data_small_path = /final_all_data/exercise_contest/
data_large_path = /final_all_data/first_stage/
data_rest_path = /final_all_data/restData/rest_data.json
data_finaltest_path = /final_all_data/final_test.json
meta_path = /final_all_data/meta/

[demo]
demo_path = /demo/
demo_figure_path = /demo/fig/
is_statistics = false
is_single_process = false

[preprocess]
preprocess_path = /preprocess/
is_preprocess = true
criminal_basis_ids = 14,15,17,20,21,22,23,24
penalty_basis_ids = 61,62,63,65,66,67,68
embed_size = 100
max_seq_len = 900
seq_len_interval = 100
is_train_wordvec = false
word2vec_epoch = 16
is_remove_unfrequent = true
split_train_num = 10
split_test_num = 5

[train]
train_set = large
epoch = 8
batch_size = 128
is_shuffle = true
is_pretrain = false
model = /model/
last_model = 10
use_gpu = true
gpu_device = 0
hidden_size = 2048
random_seed = 14
lr = 0.001

[log]
log_dir = /log/

[RNN]
cell_name = GRU
num_layers = 1
is_bidirection = true
dropout_rate = 0.2

